$Segoe:'Segoe UI', Arial;

$color1: rgb(255, 255, 255);
$color2: rgb(112, 112, 112);
$color3: rgba(112, 112, 112, 0.5);
$color4: rgb(62, 32, 82);
$color5: rgb(205, 85, 99);

$linearGradient1: linear-gradient(to top right, $color5, $color4);

@mixin styleFunc1 {
    box-sizing: border-box;
    border: 1px solid $color3;
    border-radius: 12px;
    width: 534px;
    height: 100px;
    margin: 5px 0 40px 0;
    padding-left: 40px;
    text-align: left;
    line-height: 45px;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    font-family: $Segoe;
}

@mixin styleFunc2 {
    font-size: 30.00px;
    font-weight: 700;
    font-style: normal;
    font-family: $Segoe;
    color: $color4;
    text-decoration: none;
}

//Style for travIcon class
@mixin styleFunc3 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    width: 259px;
    height: 174px;
    left: 140px;
    top: 49px;

}

//Style for travIcon's <h1>
@mixin styleFunc4 {
    font-size: 41px;
    font-weight: 700;
    font-style: normal;
    font-family: $Segoe;
    color: $color1;
    line-height: 123px;
}

//Style for plane icon
@mixin styleFunc5 {
    position: absolute;
    box-sizing: content-box;
    background-image: url(/dist/img/x04.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 137px;
    height: 174px;
    left: 135px;
    top: 10px;
}

//Style for navIcon class's <h1>
@mixin styleFunc6 {
        margin: 25px;
        float: left;
        font-size: 41px;
        font-weight: 700;
        font-style: normal;
        font-family: $Segoe;
        color: $color1;
}

//Style for navIcon class's plane2
@mixin styleFunc7 {
    background-image: url(/dist/img/x04.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 137px;
    height: 174px;
    float: left;
    margin: -25px;
    margin-left: -55px;
}

//Style for input boxes
@mixin inputStyle1 {
    width: 400px;
    height: 24px;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid $color5;
    outline: none;
}

