@import 'config';

#page1 {
    font-family: 'Open Sans', serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.container {
    display: block;
    position: absolute;
    box-sizing: content-box;
    overflow-x: auto;
    overflow-y: auto;
    width: 1920px;
    height: 1080px;
    font-family: $Segoe;
    top: 0px;
    left: 0px;
}

.bg-img {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid $color2;
    background-image: url(/dist/img/duotone_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width: 1189px;
    top: 0px;
    left: 0px;
}

.travIcon {
    @include styleFunc3;

    h1 {
       @include styleFunc4;
    } 
}

.plane {
   @include styleFunc5;
}

.headingBox {
    position: absolute;
    box-sizing: content-box;
    text-align: left;
    width: 610px;
    height: 258px;
    left: 140px;
    top: 381px;
    letter-spacing: 0px;
    line-height: 137px;
    color:$color1;
    font-size: 91px;
    font-weight: 700;
}

.scrollBox {
    position: absolute;
    box-sizing: content-box;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 40px;
    opacity: 0.6;
    color: $color1;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    font-family: $Segoe;
    overflow-x: auto;
    overflow-y: auto;
    width: 501px;
    height: 113px;
    left: 140px;
    top: 682px;
}

.loginForm {
    position: absolute;
    box-sizing: content-box;
    line-height: 45px;
    color: rgba(51, 51, 51, 1);
    font-size: 45px;
    font-weight: 700;
    font-family: $Segoe;
    font-style: normal;
    width: 500px;
    height: 60px;
    left: 1304px;
    top: 167.5px;
    
    .label {
        margin: 0 0 100px 0;
    }

    input[type=text], [type=password] {
       @include styleFunc1;
    }
}

.newPassword {
    a {
    @include styleFunc2;
    float: right;
    }
}

#loginButton {
    @include styleFunc1;
    background-color: $color4;
    color: $color1;
    font-size: 40px;
    text-align: center; 
    margin-top: 40px;
}

.register {
    a{
    @include styleFunc2;
    float: right;
    }
}

//Styles for newPassword.html -----------------------------------------------------------------------------------------------------------------------------------------------------//
#page2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    height: 120px;
    background: linear-gradient(to top right, $color5, $color4);
    width: 100%;

    ul {
        margin: 0 150px;
        list-style-type: none;    
    }

    li a{
        float: right;
        margin: 35px auto 0 10px;
        padding: 7px 30px 7px 30px;
        text-decoration: none;
        border: 1px solid $color1;
        border-radius: 12px;
        font-family: $Segoe;
        font-size: 30px;
        font-weight: 600;
        color: $color1;
    }

    a:hover {
        transition-duration: 0.3s;
        padding: 10px 30px 10px 30px;
    }
}

.navIcon {
    margin: 0 250px;
    padding: 0;

    h1 {
        @include styleFunc6;    
    }

}

.plane2 {
  @include styleFunc7;
}

.findAcct {
    font-family: $Segoe;
    text-align: center;
    margin-top: 200px;

    h3 {
        font-weight: 500;
    }

    .inputStyle1 {
        width: 400px;
        height: 24px;
        padding: 10px;
        border-radius: 12px;
        border: 2px solid $color5;
        outline: none;
    }

}

.formAction{
    margin-top: 30px;
    padding: 0 5px 0 5px;

    .cancel {
        display: inline-block;
        margin-left: 10px;
        border: 2px solid $color4 ;
        border-radius: 12px;
        padding: 7px 30px 7px 30px;
        text-decoration: none;
        width: 120px;
        color: $color4;
        font-family: $Segoe;
        font-size: 30px;
        font-weight: 600;
        transition-duration: 0.3s;
    }

    #getAcct {
        display: inline-block;
        margin-left: 10px;
        background-color: $color4;
        border: 2px solid $color4;
        border-radius: 12px;
        padding: 7px 30px 7px 30px;
        font-family: $Segoe;
        font-size: 30px;
        font-weight: 600;
        color: $color1;
        text-align: center;
        cursor: pointer;
        transition-duration: 0.3s;
    }
}

.cancel:hover {
    background-color: $color4;
    color: $color1;
}

#getAcct:hover {
    background-color: $color1;
    color: $color4;
}